<div class="comments">
    {{#each comments as |comment|}}
    <div class="card ml-5 mt-3 mb-5 bg-dark text-white border-color-secondary rounded" style="width: 24rem;">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{comment}}
            </div>
            <div class="card-footer">
                {{user.name}}, {{format_date created_at}}
            </div>
        </section>
    </div>
    {{/each}}
</div>