 <div class="workout card mt-3 mb-5">
        <div class="card-body">
            <h1 class="card-header">
             {{name}} Posted by: {{user.name}}
            </h1>
            <p class="class-text">{{description}}</p>
            <div class="card-footer"> 
            <p class="card-text">Created on: {{format_date created_at}}</p>
            </div>
        </div>
</div>