<div class="container pt-5">
  <h2 class="card-header">Add a Blog Post:</h2>
  <div>
    <form action="/action_page.php" id="workout-form" class="workout-form">
      <div class="form-group">
        <label for="workout-name">Workout Title:</label>
        <input type="text" class="form-control" id="workout-name" />
      </div>
      <div class="form-group">
        <label for="workout-descripton">Description:</label>
        <input type="text" class="form-control" id="workout-description" />
      </div>
      <div class="form-group">
        <label for="workout-duration">Duration:</label>
        <input type="text" class="form-control" id="workout-duration" />
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox" /> Upper Body</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> Lower Body</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> Core/Abs</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> Beginner</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> Intermediate</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> Advanced</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> Mobility</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> Strength</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> Cardio</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" /> High Impact/HIIT</label>
        </div>
      </div>
      <button type="submit" class="btn"><a class="link" href="/dashboard/">+ New
          Workout</a></button>
    </form>
  </div>
</div>

<script src="/js/add-workout.js"></script>