{{!-- render each (for each) workout post in a carosel view --}}
{{#if workouts.length}}
   <div class="hero-image container-fluid position-absolute" id="hero2">
            <div class="hero-text row align-items-center">Dashboard</div>
<div class="row row-cols-1 row-cols-md-2 g-4">  
    {{#each workouts as |workout|}}
    <div class="col">
    {{>workout-card workout}}
    {{>comment}}
    </div>
    {{/each}}
</div>     
<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ Add New Workout</a></button>  
    </div>
{{/if}}

