{{!-- render each (for each) workout post in a carosel view --}}

    <div class="hero-image container-fluid position-absolute" id="hero2">
            <div class="hero-text row align-items-center">Dashboard</div>
        </div>
