{{!-- render each (for each) workout post in a carosel view --}}
{{#if workouts.length}}
   <div class="hero-image container-fluid position-absolute" id="hero2">
            <div class="hero-text row align-items-center">Dashboard</div>
    {{#each workouts as |workout|}}
    {{>workout-card workout}}
    {{/each}}
</div>
{{/if}}
