<form>
<div class="hero-image container-fluid">
        <div class="hero-text row">
          <a href="/login" class="homebtn1 col-2 btn btn-outline-dark m-3 p-3" type="login">login</a>
          <a href="/signup" class="homebtn2 col-2 btn btn-outline-dark m-3 p-3" type="signup">signup</a>
        </div>
    </div>
</form>
