<form>
<div class="hero-image container-fluid position-absolute" >
        <div class="hero-text row align-items-center">World of Workouts </div>
          <a href="/login" class="col-2 btn btn-outline-dark m-5 p-3 " id="homebtn1" type="login">Log In</a>
          <a href="/signup" class="col-2 btn btn-outline-dark m-5 p-3 " id="homebtn2" type="signup">Sign Up</a>
    </div>
</form>
