<div class="hero-image container-fluid">
        <div class="hero-text row">
          <button class="homebtn1 col-2 btn btn-outline-dark m-3 p-3" type="login">Log In</button>
          <button class="homebtn2 col-2 btn btn-outline-dark m-3 p-3" type="signup">Sign Up</button>
        </div>
    </div>