<div class="login card">
    <div class="card-body">
      <h2 class="card-header">Login</h2>
    <div class="container">
      <form class="form-horizontal login-form">
        <div class="form-group">
          <div class="row g-3 align-items-center">
          </div>
        </div>
        <div class="form-group">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="email-login" class="col-form-label control-label">Email:</label>
            </div>
            <div class="col-auto">
              <input type="email" id="email-login" class="form-control" aria-describedby="emailHelpInline">
            </div>
            <div class="col-auto">
              <span id="emailHelpInline" class="form-text">
                Please enter a valid email address.
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="password-login" class="col-form-label control-label">Password: </label>
            </div>
            <div class="col-auto">
              <input type="password" id="password-login" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
              <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
              </span>
            </div>
          </div>
          <div class="form-group d-flex justify-content-end">
            <button class="btn btn-primary" type="submit" id="login-button">Log In</button>
          </div>
      </form>
    </div>
  </div>


<script src="/js/login.js"></script>
