<div class="login card">
    <div class="card-body">
      <h2 class="card-header">Sign Up</h2>
      <div class="container">
        <form class="form-horizontal signup-form">
          <div class="form-group">
            <div class="row g-3 align-items-center">
            </div>
          </div>
          <div class="form-group">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="name-signup" class="col-form-label control-label">Username:</label>
              </div>
              <div class="col-auto">
                <input type="text" id="name-signup" class="form-input" aria-describedby="nameHelpInline">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="email-signup" class="col-form-label control-label">Email: </label>
              </div>
              <div class="col-auto">
                <input type="text" id="email-signup" class="form-input" aria-describedby="emailHelpInline">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="password-signup" class="col-form-label control-label">Password: </label>
              </div>
              <div class="col-auto">
                <input type="passwprd" id="password-signup" class="form-input" aria-describedby="passwordHelpInline">
              </div>
            </div>
            <div class="form-group d-flex justify-content-end">
              <button class="btn btn-primary" type="submit" id="login-button">Sign Up</button>
            </div>
        </form>
      </div>
 </div>

<script src="/js/signup.js"></script>

    