body, html {
    height: 100%;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/workoutBanner.jpeg");
  
    /* Set a specific height */
    height: 100vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.hero-text {
  font-family: 'Bruno Ace', sans-serif;
  font-size: 550%;
  color: black;
  justify-content: center;
};

#greeting {
  margin-right: 38rem;
};

